# Test folder
Test/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# IDE settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Large build artifacts
docs/*.tar.gz
docs/*.apk

# Pygbag
*.wav
*.mp3
*.pyc
*.egg-info
*-pygbag.???
/dist
/build/web-cache
/build/version.txt